#logout_admin{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}
#userdata{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}