/*========== 
  Containers 
  ==========*/
#container2 {
  margin-left: 100vw;
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
#startPane {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}
#previous,
#next {
  position: relative;
  width: auto;
  height: auto;
  /* border: solid; */
  display: flex;
  flex-direction: column;
}
.previous,
.next {
  position: relative;
  width: auto;
  height: auto;
  /* border: solid; */
  display: flex;
  flex-direction: column;
}
#previous{
  display: none;
}
#questions {
  width: 100vw;
  height: 50vh;
  margin-top: 50vh;
}
/* #sky {
  margin-top: -100px;
  height: 200px;
  background-color: black;
  width: 100vw;
  z-index: 4;
} */
.choices {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.choose {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw / 3);
  height: 100vh;
  /* background-color: aquamarine; */
  /* border: solid 1px; */
}
.usernamePane{
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  margin-left:100vw;
  background-color: brown;
}
#select {
  /* margin-top: -100vh; */
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  position: absolute;
  z-index: 1;
  display: block;
    /* border: solid; */

}
.item {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: row;
  /* border: solid; */
}
.navB{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: auto;
}
#blurPane{
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
}
#notice{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgb(0, 75, 50);
  display: none;
}
.leftw,.rightw{
  margin-top: 15vh;
  position: relative;
  height: 60vh;
  width: calc(100vw / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
}
.list-container {
  position: relative;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  gap: 10px; 
  border: solid black 1px;
  width: 19.6vw;
  height: 0vh;
  /* display: none; */
}
/*==================
  Element Properties 
  ==================*/
#close {
  width: 20px;
  height: 20px;
  margin-left: 27vw;
  margin-top: 2vh;
  background-color: transparent;
  border: none;
}
#close:hover {
  text-shadow: blueviolet;
}
#login {
  z-index: 10;
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  /* display: none; */
}
#start {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(108, 65, 65);
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  padding: 0;
  /* display: none; */
}
.userName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#content {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}
#menuB {
  margin: 10px;
  width: 50px;
  height: 50px;
  display: block;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  z-index: 6;
}
#a,
#b,
#c,
#d {
  position: relative;
  width: 45vw;
  height: 8.5vh;
}
.cSub {
  /* border: solid red; */
  width: auto;
  height: auto;
  position: relative;
}
#skincolor,
#hair,
#gender,
#tshirt,
#facialexp{
  width: 20vw;
  height: 30px;
}
#q1 {
  width: 100vw;
  height: 30vh;
  background-color: white;
  z-index: 1;
  /* border: solid; */
  margin-top: 20vh;
  text-align: center;
  justify-content: center;
}
#msgAlert {
  display: none;
  color: white;
}
#ok {
  width: 50px;
  height: 50px;
}
#confirm {
  width: 100px;
  height: 100px;
}
#person {
  border: 1px solid black;
  width: 150px;
  height: 300px;
  position: relative;
}
.test {
  position: relative; 
  width: 100vw;
  /* border: solid 1px black; */
  text-align: center;
  height: auto;
  font-size: 2em;
}
#return{
  width: 50px;
  height: 50px;
}
#cfirmchara{
  width: 50px;
  height: 50px;
  position: relative;
}
/*==========
  Animations 
  ==========*/
.sdSelect {
  animation: swipedownSelect 2s ease-in-out forwards;
}
.sdStart {
  animation: swipedownStart 2s ease-in-out forwards;
}
.sdSky {
  animation: swipedownSky 2s ease-in-out forwards;
}
.suSelect {
  animation: swipeupSelect 2s ease-in-out forwards;
}
.suStart {
  animation: swipeupStart 2s ease-in-out forwards;
}
.suSky {
  animation: swipeupSky 2s ease-in-out forwards;
}
.srContainer {
  animation: swipeRightContainer 2s ease-in-out forwards;
}
.srContainer2 {
  animation: swipeRightContainer2 2s ease-in-out forwards;
}
.slContainer {
  animation: swipeLeftContainer 2s ease-in-out forwards;
}
.slContainer2 {
  animation: swipeLeftContainer2 2s ease-in-out forwards;
}
.returnTransition{
  animation: cancel 3s ease-in forwards;
}
.openCon{
  animation: openPane 1s ease-in forwards;
}
.closeCon{
  animation: closePane 1s ease-in forwards;
}

@keyframes swipedownSelect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes swipedownStart {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes swipedownSky {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes swipeupSelect {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes swipeupStart {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes swipeupSky {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes swipeRightContainer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes swipeRightContainer2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes swipeLeftContainer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes swipeLeftContainer2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes cancel {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes openPane {
  0%{
    transform: scaleY(0vh);
    /* height: 0; */
  }
  100%{
    /* height: 30vh; */
    transform: scaleY(30vh);

  }
}
@keyframes closePane {
  0%{
    height: 30vh;
  }
  100%{
    height: 0vh;
  }
}

/*===================
  For General Purpose
  ===================*/
div {
  position: absolute;
}
html,
body {
  padding: 0;
  margin: 0;
}
.widthONLY {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}
.fvh{
  height: 100vh;
}
.fvw{
  height: 100vw;
}



























