/* #menuPane{
    background-color: red;
    width: 30vw;
    height: 98vh;
    z-index: 4;    
    border-radius:0 20px 20px  0;
    border: black solid 5px;
    margin-left: -10px;
} 
 #blurPane{
    background-color: violet;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
#startPane{ 
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}
#close{
    width: 20px;
    height: 20px;
    margin-left: 27vw;
    margin-top: 2vh;
    background-color: transparent;
    border: none;
}
#close:hover{
    text-shadow: blueviolet ;
} */
#menuB {
    margin: 10px;
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    z-index: 2;
}
#doorPane{
    background-color: rgb(148, 238, 130);
    width: 100vw;
    height: 100vh;
    z-index: 4;
    display: none;
}
.box{
    position: relative;
    width: 30px;
    height: 5px;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: black;
    border-radius: 2px;
}
#start{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin-top: -70px;
    margin-left: -10px;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/processed/mountaincrop3.gif);
    background-size:contain;
    /* clip-path: rect();    */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 .mountain{
    position: relative;
    margin-top: 0vh;
    width: 100vw;
    height: 70vh;
    /* background-image: url("../assets/images/24281573-removebg-preview.png"); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vh;
    margin-top: -31vh;
} 
div{
    position: absolute;
}
html, body{
    padding: 0;
    margin: 0;
}


